<section class="oe_container">
                       <div class="row mt92 o_equal_col_sm">
                          <div class="" style="display:block;margin:0 auto;width: 500px;">
                             <div style="display: inline-block;width: 240px;">
                                <a href="https://www.emiprotechnologies.com" target="_blank" style="width: 100&#37;;display: inline-block;">
                                    <img class="img img-responsive mt16" src="emipro_logo.png" style="display: block;margin: 0 auto;"/>
                                </a>
                             </div>
                             <div style="width: 2px;height: 105px;background-image: -webkit-linear-gradient(transparent, #dce2e6, transparent);display: inline-block;vertical-align: top;"></div>
                             <div style="display: inline-block;width: 240px;">
                                <a href="https://www.emiprotechnologies.com/odoo-partner" target="_blank" style="width: 100&#37;;display: inline-block;">
                                    <img class="img img-responsive mt16" src="ept_odoo_partner.png" style="margin: 0 auto;display: block;"/>
                                </a>
                             </div>
                          </div>
                       </div>
                    </section>
<section class="oe_container">
                                       <div class="mt64 mb64 pt32">
                                          
                                          <h2 class="oe_slogan" style="color: #091E42;font-family: Roboto;font-weight: 500;text-align:center;text-transform: uppercase;">
                                             Inter Company Transfer and Warehouse Transfer
                                          </h2>
                                          <p class="mb16 text-center text-black-dark" style="font-family: Roboto;font-weight: initial;color: #091E42;text-align:center;">
                                             The main purpose behind developing this app is to manage the product transfer between multiple companies and warehouses managed under the same roof. With auto document generation facility, the transfer operations are handled effectively within companies or partners. With this app, you can now track your stock more effectively while fulfilling the demands.
                                          </p>
                                       </div>
                                    </section>
                                    <section class="oe_container">
                                       <div class="oe_row mt96 mb96" style="width: 420px;">
                                          <a href="https://www.emiprotechnologies.com/free-trial?app=intercompany-transaction-ept&amp;version=12&amp;edition=enterprise" target="_blank">
                                             <h3 class="contct_us_btn" style="padding: 18px;letter-spacing: 0.6px;background: linear-gradient(to right, #083FDA, #087DDA);text-align: center;box-shadow: 2px 1px 12px 3px #ece6e6;border-radius: 10px;color: #fff;font-family: &quot;Montserrat&quot;;font-weight: 600;text-transform: uppercase;">Request a Free Demo</h3>
                                          </a>
                                       </div>
                                    </section>
<section class="oe_container">
                                       <div class="mt64 mb64">
                                           <h2 style="color: #091E42;font-family: &quot;Montserrat&quot;;text-align: center;margin: 25px auto;text-transform: uppercase;"
                                            class="oe_slogan">
                                               <b>Highlights</b>
                                           </h2>
                                           <div class="row">
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="Easy-Interface-to-Exchange-Stock.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Easy Interface to Exchange Stock</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Superior user experience to carry out exchange of stock between companies/warehouses.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="Easy-Interface-to-Return-Stock.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Easy Interface to Return Stock</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Return the stock to source companies/warehouses with uncomplicated interface.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="Automatic-Documents-Creation.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Automatic Documents Creation</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Documents are automatically generated after each transfers in your Odoo as a part of confirmation receipt.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="Easy-Navigation-between-created-document.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Easy Navigation between created Documents</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Switch over to different documents without making effort to find them from large Odoo database.<br/>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="Control-over-pricing-and-invoicing.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Control over pricing and invoicing</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    Take the full command over managing prices & invoices for various types of transfers.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
<div class="col-md-6 col-sm-12 mt32">
                                        <div class="container"
                                             style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;padding: 10px 0px;">
                                            <div class="col-md-3" style="float: left;">
                                                <img class="img img-responsive" src="Automatic-Workflow.png"/>
                                            </div>
                                            <div class="col-md-9" style="padding-left:0;float: left;width: 70&#37;;">
                                                <h3 class="mt16 mb0" style="font-family: Roboto;font-weight: 500;font-size: 22px;">Automatic Workflow</h3>
                                                <p class=" mt8" style="font-family: Roboto;">
                                                    A higher-level way to organize tasks by automating its operations & minimize manual interventions.
                                                </p>
                                            </div>
                                        </div>
                                    </div>
</div>
        </div>
    </section>
<section class="oe_container">
                                       <div id="loempia_tabs" class="" style="padding:64px 0px;margin: 100px 0px;background-color:#F0F4F7;">
                                          <ul role="tablist" class="nav nav-tabs justify-content-center" data-tabs="tabs" style="border: none;background: unset;">
                                             <li class="nav-item" style="border-top-right-radius: 6px;border-top-left-radius: 6px;background: linear-gradient(to top, #FF9B31, #ffdd2c);margin-right: 1px;padding-bottom: 2px;">
                                                <a href="#ept_features" data-toggle="tab" aria-expanded="true" class="active show" style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">Features
                                                </a>
                                             </li>
                                             <li class="nav-item" style="border-top-right-radius: 6px;border-top-left-radius: 6px;background: linear-gradient(to top, #FF9B31, #ffdd2c);margin-right: 1px;padding-bottom: 2px;">
                                                <a href="#ept_screenshots" data-toggle="tab" aria-expanded="true" class="" style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">Screenshots
                                                </a>
                                             </li>
                                             <li class="nav-item" style="border-top-right-radius: 6px;border-top-left-radius: 6px;background: linear-gradient(to top, #FF9B31, #ffdd2c);margin-right: 1px;padding-bottom: 2px;">
                                                <a href="#ept_userguid" data-toggle="tab" aria-expanded="true" class="" style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">User Guide
                                                </a>
                                             </li>
                                             <li class="nav-item" style="border-top-right-radius: 6px;border-top-left-radius: 6px;background: linear-gradient(to top, #FF9B31, #ffdd2c);margin-right: 1px;padding-bottom: 2px;">
                                                <a href="#ept_faqs" data-toggle="tab" aria-expanded="true" class="" style="font-family: Roboto;text-transform: uppercase;font-weight: 600;font-size: 15px;letter-spacing: 1px;padding: 10px 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;color: #2b2b2b;">FAQs
                                                </a>
                                             </li>
                                          </ul>
                                          <div id="loempia_tabs_content_ept" class="tab-content" style="background: #fff;border-radius: 10px;padding: 2&#37;;margin: 0&#37; 2&#37;;padding-top:4&#37;;">
<!-- Features Tabs -->
                                                             <div class="tab-pane active show" id="ept_features">
                                                                <div class="container">
<section id="other-legal-references">
<h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Inter Company Transfer</h3>
                                               <ul><li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Creates Sales Order from source warehouse &amp; Purchase Order in destination warehouse if warehouses belongs to different companies.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Control over Invoice numbering / Refund numbering by specifying separate journals company wise.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;"> System will allow you to control pricing from the same screen. Same price will apply on sales order of source company and purchase order of destination company.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">An option to reverse entire / partial transactions with all effects. In case of Reverse intercompany transactions system will create reverse of delivery order, reverse of incoming shipment (only if they are done), debit note and credit note.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Control over all documents process like automatic workflow of all documents, whether need to create or not, auto confirm or not, auto validate or not. Like one can control Auto confirm Sales Orders/ Purchase Order or Generate &amp; Validate Invoice and Cancel: create credit note and reconcile.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">In multi company environment it’s not easy to create documents of multi companies without login to that company, with this app user can create all records related to intercompany transactions by just one click without login to that company, for that just need to set intercompany user company wise. So you can be sure that taxes applied on SO &amp; PO are accurate according to the companies.</li>
</ul><h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Inter Warehouse Transfer (Internal Transfer)</h3>
                                               <ul><li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Creates Delivery Order in source warehouse &amp; Receipts in Destination warehouse.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Smart buttons to view created Delivery Order &amp; Receipt.</li>
<li class="mb8" style="font-family: Roboto;color:#091E42;list-style-type: square;">Allows users to do reverse transfer from the same screen. It will reverse the delivery order &amp; receipt.</li>
</ul></section>
<section class="oe_container mt64">
<div class="mb64">
<h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Imaginary Flow of Inter Company Transfer</h3>
<div class="mt16 mb16">
                                                        <img src="Inter-Company-Transfer.png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                    </div>
</div>
<div class="mb64">
<h3 class="text-center alert" style="font-family: Roboto;font-weight:500;color: #091E42;background: #F0F4F7;border-radius: 10px;">Imaginary Flow of Inter Warehouse Transfer</h3>
<div class="mt16 mb16">
                                                        <img src="inter-Warehouse-Transfer-(Intra-company-transfer).png" class="img img-responsive center-block" style="max-width:80&#37;;"/>
                                                    </div>
</div>
</section>
</div>
</div>
<div class="tab-pane" id="ept_screenshots">
                                               <section class="oe_container">
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Set user rights for ICT User</h3>
<div class="mt16 mb16">
                                                      <img src="screens/1(1-1).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Basic ICT Configuration for Company</h3>
<div class="mt16 mb16">
                                                      <img src="screens/2(2-2).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Configure Resupply Warehouse for ICT Transactions</h3>
<div class="mt16 mb16">
                                                      <img src="screens/3 (3-3).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Product Configuration for its ICT operations</h3>
<div class="mt16 mb16">
                                                      <img src="screens/4(4-4).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Inter Company Transfer important configuration</h3>
<div class="mt16 mb16">
                                                      <img src="screens/5(19).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Set Customer Taxes and Vendor Taxes</h3>
<div class="mt16 mb16">
                                                      <img src="screens/6(n).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Set Fiscal Position for customers</h3>
<div class="mt16 mb16">
                                                      <img src="screens/7(5-5).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Inter Company Transfer orders in Odoo</h3>
<div class="mt16 mb16">
                                                      <img src="screens/8(1).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">ICT Order in Draft Stage</h3>
<div class="mt16 mb16">
                                                      <img src="screens/9(2).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Processing of ICT Order</h3>
<div class="mt16 mb16">
                                                      <img src="screens/10(3).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Reverse Inter Company Transfer order in Odoo</h3>
<div class="mt16 mb16">
                                                      <img src="screens/11(4).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Reverse ICT created for ICT Order</h3>
<div class="mt16 mb16">
                                                      <img src="screens/12(5).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Reverse ICT Orders in Odoo</h3>
<div class="mt16 mb16">
                                                      <img src="screens/13(6).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Reverse ICT Order in Draft Stage</h3>
<div class="mt16 mb16">
                                                      <img src="screens/14(7).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Reverse ICT Order information</h3>
<div class="mt16 mb16">
                                                      <img src="screens/15(8).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Processing of Reverse ICT</h3>
<div class="mt16 mb16">
                                                      <img src="screens/16(9).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Internal Transfer (Inter Warehouse Transfer) Orders</h3>
<div class="mt16 mb16">
                                                      <img src="screens/17(10).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Internal Transfer Order in draft stage</h3>
<div class="mt16 mb16">
                                                      <img src="screens/18(11).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Processing of Internal Transfer Order</h3>
<div class="mt16 mb16">
                                                      <img src="screens/19(12).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Pickings of Internal Transfer</h3>
<div class="mt16 mb16">
                                                      <img src="screens/20(13).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Create Reverse Internal Transfer</h3>
<div class="mt16 mb16">
                                                      <img src="screens/21(14).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Reverse Internal Transfer order ready to process</h3>
<div class="mt16 mb16">
                                                      <img src="screens/22(15).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Reverse ICT for Internal Transfer in draft stage</h3>
<div class="mt16 mb16">
                                                      <img src="screens/23(16).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Reverse ICT of Internal Transfer processed</h3>
<div class="mt16 mb16">
                                                      <img src="screens/24(17).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Pickings generated for Reverse ICT of Internal Transfer</h3>
<div class="mt16 mb16">
                                                      <img src="screens/25(18).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Import/Export Product List for ICT</h3>
<div class="mt16 mb16">
                                                      <img src="screens/26(20).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">Operation Logs of all ICT & Internal Transfer Transactions</h3>
<div class="mt16 mb16">
                                                      <img src="screens/27(21).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
<div style="margin-bottom:4&#37;;"> <h3 class="text-center mb32" style="letter-spacing: -1px !important;font-family: Roboto;font-weight:400;">ICT Process Log</h3>
<div class="mt16 mb16">
                                                      <img src="screens/28(22).png" class="img img-responsive center-block"/>
                                                  </div>
</div>
</section>
</div>
<div class="tab-pane" id="ept_userguid">
                                                            <div class="container mb32"><hr style="border-top: 1px solid #eee;margin: 5px 0px;padding: 0;"/>
                                           <div style="padding: 10px 15px;">
                                              <a href=" https://shop.emiprotechnologies.com/documentation/inter-company-transfer-and-warehouse-transfer?version=12 " style="color: #091E42;" target="_blank">
                                                 <p class="mb0" style=""><img src="User-Manual-Icon.png" style="width: 40px;margin-right: 15px;"/><span>Read User Guide</span><img src="Redirect.png" style="width: 40px;margin-left: 15px;"/></p>
                                              </a>
                                           </div>
<hr style="border-top: 1px solid #eee;margin: 5px 0px;padding: 0;"/>
                                       <div style="padding: 10px 15px;">
                                          <a href="https://www.youtube.com/watch?v=cWdo34xTlWo&amp;list=PLZGehiXauyla50FOCQbfVXUyzVbn_nfe6" style="color: #091E42;" target="_blank">
                                             <p class="mb0" style=""><img src="Video.png" style="width: 40px;margin-right: 15px;"/><span>Watch Video Tutorial</span><img src="Redirect.png" style="width: 40px;margin-left: 15px;"/></p>
                                          </a>
                                       </div>
</div>
</div>
<div class="tab-pane" id="ept_faqs">
                                    <section class="oe_container">
                                       <div class="s_faq mt32 mb32" style="background-color: transparent !important;">
                                          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq0" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             Is this app compatible with Odoo Enterprise as well as Community?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq0" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Yes, the app works perfectly well with Odoo Enterprise (On-premise and Odoo.SH) as well as Community. Odoo Online (Cloud) does not allow installation of third-party apps and hence this app cannot be installed on Odoo Online.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq1" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             I need an extra feature in this app. How can I request it?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq1" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            You can <a style="color: #000;text-decoration: underline;" target="_blank"
														href="https://www.emiprotechnologies.com/requestquote">contact us</a>
														to request a customization in the app.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq2" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             Do I get free upgrades and support if I purchase the app?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq2" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                             Yes, you can avail a free upgrade & support services for the app. Kindly read our
												<a style="color: #000;text-decoration: underline;" target="_blank"
													href="https://shop.emiprotechnologies.com/support-policy-odoo-apps">support policy</a>
													to know the details.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq3" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             What is Inter-Company Transaction?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq3" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Inter-Company Transaction is a movement of stock between two warehouses which belongs to different companies of the same owner. In these type of transactions, one company will create a Sales Order and another company will create a Purchase Order.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq4" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             What is Inter-Warehouse transaction?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq4" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Inter-Warehouse Transaction is a movement of stock between two warehouses which belongs to the same company. In these type of transactions, only internal transfers between warehouses get created.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq5" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             Is it necessary for an Inter-Company User to have only a single company access?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq5" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Yes, it is necessary of the ICT User to have single company access as all transactions will be carried out by the ICT user. If the ICT user has multi-company access, it will create issues and may not work as expected.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq6" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             What is the use of resupply warehouse configuration in Inter Company Transaction app?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq6" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            If you want to transfer stock between two warehouses of the same company with the help of transit location, routes must be there in the system and these routes will be managed by the system from the Resupply warehouses configurations.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq7" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             Is it necessary to share Products &amp; Partners between two companies while performing ICT operations?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq7" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Yes, it is necessary to have shared Products &amp; Partners among multiple companies in order to carry out ICT operations.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq8" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             Is Automatic Workflow applicable in case of Inter-Company Transaction and Reverse Inter-Company Transaction?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq8" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            Yes, the app allows you to configure automatic workflow for Inter-Company Transaction and Reverse Inter-Company Transaction.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
<div class="panel-group" style="border: 1px solid #ddd;border-radius: 10px;margin-bottom: 20px;">
                                <div class="panel panel-default" style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);padding: 15px 15px;border-radius: 10px;">
                                   <div class="panel-heading mt0" style="border:1px solid transparent !important;">
                                      <h4 class="panel-title" style="margin: 0;">
                                         <a class="collapsed" style="color: #000;font-size: 20px;font-weight: 500;font-family: Roboto;" data-toggle="collapse" href="#faq9" aria-expanded="false">
                                         <span class="panelcontent" style="padding: 0&#37; 2&#37;;">
                                             Is it possible to avoid creation of SO/PO which while transferring stock between parent/child companies?
                                         </span>
                                         </a>
                                      </h4>
                                   </div>
                                   <div id="faq9" class="panel-collapse mt16 collapse" style="">
                                      <div>
                                         <p class="mb32" style="border-left: 4px dotted #e6e8ea;height: auto;padding-left: 3&#37;;margin-left: 2&#37;;font-family: Roboto;">
                                            No, it's not possible. The app will create the relevant SO/PO for all Inter-Company Transactions. If you have a special scenario where you want to avoid this, you can request customization.
                                         </p>
                                      </div>
                                   </div>
                                </div>
                             </div>
</div>
</div>
</section>
</div>
</div>
</div>
</section>
<section class="oe_container"><h2 style="color: #091E42;font-family: &quot;Montserrat&quot;;text-align: center;margin: 25px auto;text-transform: uppercase;" class="oe_slogan">
                                       <b>Suggested Products</b>
                                       </h2>
                            
                                       <div id="demo" class="row carousel slide mt64 mb32" data-ride="carousel">
                                          <!-- The slideshow -->
                                          <div class="carousel-inner">
<div class="carousel-item active">
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/amazon_all_in_one/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="All-in-One-Solution-for-Amazon-Seller.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    All in One Solution for Amazon Seller
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/advance_purchase_ordering_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Advance-Purchase-Ordering-Reordering.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Advance Purchase Ordering / Reordering
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/consignment_management_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Consignment-Management.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Consignment Management
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
</div>
<div class="carousel-item">
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/inventory_coverage_report_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Inventory-Covarge-Report.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Inventory Coverage Report
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/amazon_vendor_central_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Amazon-Vendor-Central-Integration.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Amazon Vendor Central Integration
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/rma_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Return-Order-Management.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    RMA ( Return Merchandise Authorisation ) in Odoo
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
</div>
<div class="carousel-item">
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/edi_ftp_integration/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Dropshipper-EDI-Integration-in-Odoo.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Dropshipper EDI Integration in Odoo
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/dropship_edi_integration_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Dropshipping-EDI-Integration-in-Odoo.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                     Dropshipping EDI Integration in Odoo
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/promotion_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Manage-Sale-Promotions-in-Odoo.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Manage Sale Promotions in Odoo
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
</div>
<div class="carousel-item">
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/sale_margin_report_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Sale-Margin-Report.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Sale Margin Report
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/top_growing_product_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Top-Growing-Products-Report.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                    Top Growing Products Report
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
<div class="col-xs-12 col-sm-4 col-md-4 mb16 mt16" style="float: left;">
                                                       <a href="https://apps.odoo.com/apps/modules/12.0/customer_review_global_channel_ept/" target="_blank">
                                                           <div style="box-shadow: 0 15px 35px rgba(50, 50, 93, 0.1), 0 5px 15px rgba(0, 0, 0, 0.07);border-radius: 10px;">
                                                               <img class="img img-responsive center-block"
                                                                     style="border-top-left-radius: 10px;border-top-right-radius: 10px;"
                                                                     src="Feedback-email-to-customers-for product review.jpg"/>
                                                               <h4 class="mt0" style="padding:6&#37; 4&#37;;text-align: center;white-space: nowrap;width: 100&#37;;overflow: hidden;text-overflow: ellipsis;font-family: Roboto-medium;">
                                                                     Feedback email to customers for Product Review
                                                               </h4>
                                                           </div>
                                                       </a>
                                                   </div>
</div>
</div>
                                   <!-- Left and right controls -->
                                   <a class="carousel-control-prev" href="#demo" data-slide="prev" style="left:-25px;width: 35px;color: #000;">
                                       <span class="carousel-control-prev-icon"><i class="fa fa-chevron-left" style="font-size:24px"></i></span>
                                   </a>
                                   <a class="carousel-control-next" href="#demo" data-slide="next" style="right:-25px;width: 35px;color: #000;">
                                       <span class="carousel-control-next-icon"><i class="fa fa-chevron-right" style="font-size:24px"></i></span>
                                   </a>
                                </div>
                            </section>
<section class="oe_container">
                                        <div class="row mb64" style="display: block;margin: 0 auto;width: 100&#37;;text-align: center;">
                                            <div class="mt32" style="display: inline-block;margin:0px 10px;">
                                                <a href="https://www.emiprotechnologies.com/requestquote" target="_blank" style="font-family: &quot;Montserrat&quot;;">
                                                    <h4 class="mt16 mb0" style="padding: 16px 45px;font-family: &quot;Montserrat&quot;;text-transform: uppercase;background: linear-gradient(to right, #083FDA, #087DDA);text-align: center;box-shadow: 2px 1px 12px 3px #ece6e6;border-radius: 10px;color: #fff;font-weight: 700;">Contact Us</h4>
                                                </a>
                                            </div>
                                            <div class="mt32" style="display: inline-block;margin:0px 10px;">
                                                <a href="https://www.emiprotechnologies.com/odoo-apps-support" target="_blank">
                                                    <h4 class="mt16 mb0" style="background: linear-gradient(to right,  #F27E00, #F29500);padding: 16px 45px;font-family: &quot;Montserrat&quot;;text-transform: uppercase;text-align: center;box-shadow: 2px 1px 12px 3px #ece6e6;border-radius: 10px;color: #fff;font-weight: 700;">Support</h4>
                                                </a>
                                            </div>
                                        </div>
                                    </section>
